<h2> Записаться </h2>
<p> Тут можно записаться в наш Barber Shop!</p>


<form>
  <div class="form-group">
    <label>Ваше имя:</label><br/>
    <input name="username" type="text" class="form-controll" placeholder="Введите Ваше имя"> <br/>
    </div>

     <div class="form-group">
    <label>Ваш телефон:</label><br/>
    <input name="phone" type="text" class="form-controll" placeholder="Введите Ваше имя"> <br/>
    </div>

     <div class="form-group">
    <label>Когда Вас ожидать:</label><br/>
    <input name="datetime" type="text" class="form-controll" placeholder="Введите дату и время"> <br/>
    </div>

<button type="submit" class="btn btn-primary">Записаться</button> <br/>

  <div class="card">
 <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%;
 display: block;"src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22240%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20240%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_15de7d15968%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A12pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_15de7d15968%22%3E%3Crect%20width%3D%22240%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2289.29999923706055%22%20y%3D%2295.7%22%3E240x180%3C%
 2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
    <div class="card-body">
      <h4 class="card-title">Попова Жанна Петровна</h4>
      <p class="card-text"> Тоже мастер стрижки и укладки женских причесок
	</p>
 	<a href="#" class="btn btn-primary">Выбрать Жанну</a>
    </div>
  </div>
   
<div class="card" style="width: 20rem;">
  <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" style="height: 180px; width: 100%;
 display: block; "src="C:\project\RubyRuby_Lesson22\views\maggie-4.png\" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Иванова Лариса Ивановна</h4>
    <p class="card-text">Мастер по укладке женских причесок, а также покрасить и заламинировать.</p>
    <a href="#" class="btn btn-primary">Выбрать Ларису</a>
  </div>
</div>

</form>
